body {
     background-image: url("https://cutewallpaper.org/21/the-simpsons-wallpapers/The-Simpsons-wallpapers-The-Simpsons-Wallpaper-400535-.jpg");
     background-repeat: repeat;
     background-size: 30cm; 
    position: relative;
    }
h1 {
    color: black;
    font-family: 
}
html {
    font-size:30px
}
#btnYes {
    width: 400px;
}
#btnNo {
    width: 400px;
}
/* head {
    
        display: grid;
        place-content: center;
        height: 10vh; */
/* } */
body {
    margin-top: 200px;
    place-content: center;
    text-align: center;
    height: 50vh;
  }